#author_biography.group
  .avatar= gravatar_tag 'junkmail@nathany.com', :size => 100, :html => { :alt => 'Nathan Youngman' }
  %p
    %strong Nathan Youngman
    is a web developer and instigator of Lua Nova. He can be reached at
    %a{ :href => 'https://twitter.com/nathany/' } @nathany.