#author_biography.group
  .avatar= gravatar_tag 'steve.j.donovan@gmail.com', :size => 100, :html => { :alt => 'Steve Donovan' }
  %p
    %strong Steve Donovan
    is a developer in  Johannesburg, South Africa. Visit his
    %a{ :href => 'http://steved-imaginaryreal.blogspot.ca/' } personal blog.
