<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ .Keywords }}">
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ $cssOpts := (dict "targetPath" "main.css" ) }}
  {{ if .Site.IsServer }}
    {{ $styles := resources.Get "sass/all.sass" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
    {{ $styles := resources.Get "sass/all.sass" | toCSS $cssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}"  integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ end }}
  <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata'>
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
<body>

  <div id="container">

    <header role="banner">
    <hgroup>
      <h1>{{ .Site.Title }}</h1>
      <h2>{{ .Site.Params.Subtitle }}</h2>
    </hgroup>
  </header>


